/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 4rem;
  align-self: center;
  color:#fff;
  text-shadow: 6px 6px 0px rgba(99,40,54,1);
}

h2 {}

h3 {}

p {
  margin: 0;
  font-family: 'VT323', monospace;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  /*margin-bottom: 60px;*/
  z-index:5;
  display:flex;
  justify-content: space-between;
  height:100vh;
  width:100%;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

canvas{
  /*background-color: aqua;*/
  align-items: center;
  width: 450px;
  height:600px;
}




/* ---- components ---- */

.button {
  width: 200px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 0;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  -webkit-box-shadow: 6px 7px 0px 0px rgba(99,40,54,1);
  -moz-box-shadow: 6px 7px 0px 0px rgba(99,40,54,1);
  box-shadow: 6px 7px 0px 0px rgba(99,40,54,1);
}

.start{
  background-color: crimson;
}

.start:hover{
  background-color: #bd193a;
  cursor:pointer;
}

.skip{
  margin-top:20px;
  background-color: darkorange;
}

.skip:hover{
  background-color: #dd7b03;
  cursor:pointer;
}


.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  /* ... */
}

section.testimonials .button {
  margin-bottom: 10px;
}

#previous-splash-01{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/title-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#previous-splash-02{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/title-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:0;
  animation-duration: 200ms;
  animation-name: screens;
  animation-iteration-count: infinite;
}

@keyframes screens {
  from {
    opacity:0; 
  }
  to {
    opacity:1;
  }
}

#previous-splash-21{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-1-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#previous-splash-22{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-1-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:0;
  animation-duration: 200ms;
  animation-name: screens;
  animation-iteration-count: infinite;
}

@keyframes screens {
  from {
    opacity:0; 
  }
  to {
    opacity:1;
  }
}

#previous-splash-31{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-3-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#previous-splash-32{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-3-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:0;
  animation-duration: 2000ms;
  animation-name: screens3;
  animation-iteration-count: infinite;
}

@keyframes screens3 {
  0% { opacity:0; }
  3% { opacity:1; }
  6% { opacity:0; }
  9% { opacity:1; }
  12% { opacity:0; }
  15% { opacity:1; }
  18% { opacity:0; }
  21% { opacity:1; }
  80% { opacity:1; }
  90% { opacity:0; }
  91% { opacity:1; }
  100% { opacity:1; }
}

#previous-splash-40{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-4-4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#previous-splash-41{
  position:absolute;
  width:100%;
  height:100vh;
  opacity:0;
  background: url(../images/splash-screens/splash-screen-4-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation-duration: 5000ms;
  animation-name: screens4-1;
  animation-iteration-count: 1;
}

@keyframes screens4-1 {

  0.01% { opacity:1;}
  80% { opacity:1;}
  80.01% {opacity:0;}
  100% { opacity:0; }
}

#previous-splash-42{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-4-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:0;
  animation-duration: 5000ms;
  animation-name: screens4-2;
  /*animation-iteration-count: infinite;*/
}

@keyframes screens4-2 {
  0% { opacity:0;}
  20% { opacity:0; }
  20.01%{opacity:1;}
  100% { opacity:1; }
}

#previous-splash-43{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-4-3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:0;
  animation-duration: 5000ms;
  animation-name: screens4-3;
  /*animation-iteration-count: infinite;*/
}

@keyframes screens4-3 {
  0% { opacity:0;}
  40% { opacity:0; }
  40.01%{opacity:1;}
  100% { opacity:1; }
}

#previous-splash-44{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-4-4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:0;
  animation-duration: 5000ms;
  animation-name: screens4-4;
  /*animation-iteration-count: infinite;*/
}

@keyframes screens4-4 {
  0% { opacity:0;}
  60% { opacity:0; }
  60.01%{opacity:1;}
  100% { opacity:1; }
}

#previous-splash-45{
  position:absolute;
  width:100%;
  height:100vh;
  background: url(../images/splash-screens/splash-screen-4-5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:0;
  animation-duration: 100ms;
  animation-name: screens4-5;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

@keyframes screens4-5 {
  0% { opacity:0;}
  100% { opacity:1; }
}

#splash-2, #splash-3, #splash-4, #win-1, #win-2, #gameover {
  z-index:5;
  display:flex;
  justify-content: space-between;
  height:100vh;
  width:100%;
}

#game{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
  background: url(../images/splash-screens/game.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#game .canvas{
  position:relative;
}

#game .data{
  position: absolute;
  top:40px;
  margin-left:470px;
  width:120px;
}
#game .data p{
  width:50%;
  float:left;
  padding-top:10px;
}
#game .data p#score-text{
  width:65%;
}
#game .data p#score-value{
  width:35%;
}

#time-value{
  text-align:center;
}

.data div:first-child{
  margin-bottom: 20px;
}

.scaling{
  font-size:2rem;
  color:red;
  animation-duration: 500ms;
  animation-name: bouncing;
  animation-iteration-count: infinite;
}

@keyframes bouncing {
  0% { font-size:2rem; padding-top:10px;}
  50% {font-size:3rem; padding-top:0;}
  100% { font-size:2rem; padding-top:10px;}
}

.touching{
  text-shadow: 0px 0px 0px rgba(255,255,255,0);
  animation-duration: 500ms;
  animation-name: touching;
  animation-iteration-count: 1;
}

@keyframes touching {
  0% { text-shadow: 0px 0px 0px rgba(255,255,255,1);}
  100% { text-shadow: 0px -50px 0px rgba(255,255,255,0);}
}

#win-1{
  background: url(../images/splash-screens/win-game-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#win-2{
  background: url(../images/splash-screens/splash-screen-4-4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#gameover {
  background: url(../images/splash-screens/game-over-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.typewriter{
  width: 30%;
  align-self: center;
}

.typewriter p {
  color:#fff;
  font-size:2rem;
  overflow: hidden; 
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

section.title{
  margin: 0 60px;
}

section.title p{
  color:#fff;
  font-size: 2rem;
  line-height: 1.5;
  width:300px;
}

#splash-3 p {
  color: #6b100b;
}

#splash-4 p, #gameover p{
  color:black;
}
#splash-2 p, #splash-3 p, #splash-4 p{
  background-color:rgba(255, 255, 255, 0.75);
  color: black;
  font-size: 2.25rem;
  padding:25px;
  line-height: 1;
}


#gameover p, #win-1 p{
  background-color:rgba(255, 255, 255, 0.75);
  color: black;
  margin-top: 200px;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 3px 3px 7px rgba(99,40,54,1);
  padding:0 15px;
}

#win-1 p{
  margin-top:0;
}

#win-2 h1{
  width: 300px;
  line-height:1;
}

#game p{
  color: #fff;
  font-size: 2rem;
  line-height: 1;
}

section.section-buttons{
  align-self: flex-end;
  width:200px;
  margin:0 70px 60px 70px;
}

